<style type="text/css">  
  body {
    color: #000;
  }
  input {
    color: #fff;
    border-radius: 5px;
    border: 0;
    height: 35px; 
    background-color: rgba(255, 102, 102, 0.9);
    margin: 2px;
    width: 140px;
    padding: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    }
  .override {
    color: white;
    width: 70px;
  }
  a {
    color: rgba(255, 102, 102, 0.9);
  }
  a:hover {
    color: rgba(255, 102, 102, 0.9);
    text-decoration: none;
  }
</style>  

<div class="container-fluid">

<div class="row">
  <div class="col-md-12">
    Logged in as Calvin | Favorites | Sign Out
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ol style="visibility:hidden;">
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    test
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ol style="visibility:hidden;">
      <li>&nbsp;</li>
    </ol>
  </div>
</div>

</div>