body { 
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
  padding-top: 25px;
 }

#map-canvas {
   display: block;
   width: 100%;
   height: 600px;
}

.overflow {
    height: 600px;
    overflow: scroll;
}

#left {
  display: inline-block;
  text-align: left;
}

ul {
  text-align: right;
  list-style-type: none;
}

.mynav {
background-color: rgba(255, 102, 102, 1);
color: #888;
display: block;
margin: 0;
overflow: hidden;
width: 100%; 
}

.mynav ul {
  text-align: right;
  margin: 0px;
  padding: 11px;
  font-family: 'Roboto', sans-serif;
}

.mynav ul li {
    padding-left: 30px;
    color: white;
    display: inline-block;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; 
}

.mynav ul li a {
    color: white;
    text-decoration: underline;
}

.mynav ul li a:hover {
    color: rgba(255, 102, 102, 1);
    background-color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.floatleft {
  float: left;
  margin-left: -30px;
}

.floatright {
  float: right;
  padding-top: 5px;
}

.spacer {
  margin-top: 25px;
}

a {
  color: rgba(255, 102, 102, 0.9);
}

a:hover {
  color: rgba(255, 102, 102, 0.9);
  background: rgba(255, 102, 102, 0.2);
  text-decoration: none;
}

#nohover a:hover {
  color: transparent;
  background: transparent;
  text-decoration: none;
}

#info-box {
  font-family: 'Roboto', sans-serif;
  text-align: right;
}


